<div class="auth">
    <div class="auth-container">
        <div class="card">
            <header class="auth-header">
                <h1 class="auth-title">
                    <div class="logo">
                    	<span class="l l1"></span>
                    	<span class="l l2"></span>
                    	<span class="l l3"></span>
                    	<span class="l l4"></span>
                    	<span class="l l5"></span>
                    </div> Release Notes
                </h1> 
            </header>
            <div class="auth-content">
                <p class="text-xs-center">LOGIN</p>
                <% flash.each do |message_type, message| %>
                    <div class="alert alert-<%= message_type %>"><%= message %></div>
                  <% end %>
                    <!--form id="login-form" action="/index.html" method="GET" novalidate=""-->
                    <%= form_for(:session, url: login_path) do |f| %>
                        <div class="form-group">
                            <label for="username">E-mail</label>
                            <!--input type="email" class="form-control underlined" name="username" id="username" placeholder="Seu endereço de e-mail" required-->
                            <%= f.text_field :email, class:"form-control underlined", placeholder:"Endereço de E-mail" %>
                        </div>
                        <div class="form-group">
                            <label for="password">Senha</label>
                            <!--input type="password" class="form-control underlined" name="password" id="password" placeholder="Sua senha" required--> 
                            <%= f.password_field :password, class:"form-control underlined", placeholder:"Digite Senha" %>
                        </div>
                        <div class="form-group">
                            <label for="remember">
                                <input class="checkbox" id="remember" type="checkbox">
                                <span>Relembre-me</span>
                            </label> 
                            <!--%= link_to "Esqueci senha", reset_path, class:"forgot-btn pull-right" %-->
                            <%= f.check_box :relembre_me, class:"checkbox" %>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-block btn-primary">Login</button>
                        </div>
                        <div class="form-group">
                            <p class="text-muted text-xs-center">
                                Não tem cadastro? 
                                <%= link_to "Cadastre-se", signup_path %>
                            </p>
                        </div>
                    <% end %>
                    <!--/form-->
            </div>
        </div>
    </div>
</div>