<p id="notice"><%= notice %></p>

<% provide(:template, "admin" ) %>

<div class="card card-default">
  <div class="card-header bordered">
    <div class="header-block">
      <h3 class="title">Sistema</h3>
    </div>
  </div>
  <div class="card-block">
<p>
  <strong>Nome:</strong>
  <output type="text" class="form-control" id="nome" ><%= @sistema.nome %></output>
</p>

<p>
  <strong>Sigla:</strong>
  <output type="text" class="form-control" id="nome" ><%= @sistema.sigla %></output>
</p>
</div>



  <div class="card-footer">
    <div class="row">
      <div class="col">
        <%= link_to 'Editar', edit_sistema_path(@sistema), class:"btn btn-warning active" %>
        <%= link_to 'Voltar', sistemas_path, class:"btn btn-info active" %>
      </div>
      
    </div>
  </div>
</div>