<% provide(:title, "#{texto_da_acao} Release Notes" ) %>
<% provide(:template, "admin" ) %>

<%= form_for(@release_note) do |f| %>

  <style>
    .button-add-tab{
      padding: 10px 0px;
    }
  </style>

<div class="card card-default">
  <div class="card-header bordered">
    <div class="header-block">
      <h3 class="title">Release Notes</h3>
    </div>
  </div>
  <div class="card-block">
     <div class="form-group">
        <%= f.label :sistema_id %><br>
        <%= f.collection_select :sistema_id, @sistemas, :id, :nome , {}, class:"form-control" %>
      </div>

        <ul class="nav nav-tabs nav-tabs-bordered">
          <li class="nav-item">
            <a class="<%= if params[:tab] == 'descricao' then 'nav-link active' else 'nav-link' end %>" href="#descricao" role="tab" data-toggle="tab" data-target="#descricao" aria-controls="descricao">Dados Gerais</a>
          </li>
          <% if @release_note.new_record? == false %>
            <li class="nav-item">
              <a class="<%= if params[:tab] == 'caracteristicas' then 'nav-link active' else 'nav-link' end %>" href="#caracteristicas" role="tab" data-toggle="tab" data-target="#caracteristicas" aria-controls="caracteristicas">Características</a>
            </li>
            <li class="nav-item">
              <a class="<%= if params[:tab] == 'integracoes' then 'nav-link active' else 'nav-link' end %>" href="#integracoes" role="tab" data-toggle="tab" data-target="#integracoes" aria-controls="integracoes">Integrações</a>
            </li>
            <li class="nav-item">
              <a class="<%= if params[:tab] == 'defeitos' then 'nav-link active' else 'nav-link' end %>" href="#defeitos" role="tab" data-toggle="tab" data-target="#defeitos" aria-controls="defeitos">Defeitos</a>
            </li>
            <li class="nav-item">
              <a class="<%= if params[:tab] == 'observacoes' then 'nav-link active' else 'nav-link' end %>" href="#observacoes" role="tab" data-toggle="tab" data-target="#observacoes" aria-controls="observacoes">Observações</a>
            </li>
          <% end %>
        </ul>
        <div class="tab-content tabs-bordered">
          <div class="<%= if (params[:tab] == 'descricao' || !params[:tab])then 'tab-pane fade in active'  else 'tab-pane fade' end%>" id="descricao">

            <div class="form-group">
              <%= f.label :path_deploy %><br>
              <%= f.text_field :path_deploy, class:"form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :path_svn %><br>
              <%= f.text_field :path_svn, class:"form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :contexto %><br>
              <%= f.text_field :contexto, class:"form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :motivacao %><br>
              <%= f.text_area :motivacao, class:"form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :instrucao_uso %><br>
              <%= f.text_area :instrucao_uso, class:"form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :monitoramento %><br>
              <%= f.text_field :monitoramento, class:"form-control" %>
            </div>
          </div>
          <% if @release_note.new_record? == false %>
          <div class="<%= if (params[:tab] == 'caracteristicas' || !params[:tab])then 'tab-pane fade in active'  else 'tab-pane fade' end%>" id="caracteristicas">
            
             <div class="card card-default">
              <div class="card-header bordered">
                <div class="header-block">
                  <h3 class="title">Caracteristicas</h3>
                </div>
                <div class="header-block pull-right">
                  <%= link_to new_caracteristica_release_path(:release_id => @release_note.id), class:"btn btn-primary btn-sm active" do %>
                    <span class="fa fa-plus"></span> Novo
                  <% end %>
                </div>
              </div>
              <div class="card-block table-responsive">
                <table class="table table-striped table-bordered table-list">
                <thead>
                    <tr>
                      <th>Caracteristica</th>
                      <th>Descrição</th>
                      <th>Status</th>
                      <th>
                        <div align="center">
                          <span class="fa fa-cog"></span>
                        </div>
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @caracteristica_releases.each do |cr| %>
                      <tr>
                        <td><%= cr.caracteristica.nome %></td>
                        <td><%= cr.descricao %></td>
                        <td>

                          <%= if cr.status == true then image_tag("circle_green.png", alt:"Sim") else  image_tag("circle_red.png", alt:"Não") end %>
                        </td>
                        
                          
                          <td align="center">
                            <div class="form-inline">
                             <%= link_to cr, method: :delete, class:"btn btn-danger btn-sm" do %>
                                <span class="fa fa-trash"></span>
                              <% end %>
                            </div>
                          
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              
            </div>
             
          </div>
          <div class="<%= if (params[:tab] == 'integracoes' || !params[:tab])then 'tab-pane fade in active'  else 'tab-pane fade' end%>" id="integracoes">
             <div class="card card-default">
              <div class="card-header bordered">
                <div class="header-block">
                  <h3 class="title">Integrações</h3>
                </div>
                <div class="header-block pull-right">
                  <%= link_to new_integracao_path(:release_id => @release_note.id), class:"btn btn-primary btn-sm active" do %>
                    <span class="fa fa-plus"></span> Novo
                  <% end %>
                </div>
              </div>
              <div class="card-block table-responsive">
                <table class="table table-striped table-bordered table-list">
                  <thead>
                    <tr>
                      <th>Tipo</th>
                      <th>Descrição</th>
                      <th>
                        <div align="center">
                          <span class="fa fa-cog"></span>
                        </div>
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @integracoes.each do |integracao| %>
                      <tr>
                        <td><%= integracao.tipo_integracao.nome %></td>
                        <td><%= integracao.descricao %></td>
                        <td align="center">
                            <div class="form-inline">
                             <%= link_to integracao, method: :delete, class:"btn btn-danger btn-sm" do %>
                                <span class="fa fa-trash"></span>
                              <% end %>
                            </div>
                          
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              
            </div>
             
          </div>
          <div class="<%= if (params[:tab] == 'defeitos' || !params[:tab])then 'tab-pane fade in active'  else 'tab-pane fade' end%>" id="defeitos">
             
             <div class="card card-default">
              <div class="card-header bordered">
                <div class="header-block">
                  <h3 class="title">Defeitos</h3>
                </div>
                <div class="header-block pull-right">
                  <%= link_to new_defeito_path(:release_id => @release_note.id), class:"btn btn-primary btn-sm active" do %>
                    <span class="fa fa-plus"></span> Novo
                  <% end %>
                </div>
              </div>
              <div class="card-block table-responsive">
                <table class="table table-striped table-bordered table-list">
                  <thead>
                    <tr>
                      <th>Descrição</th>
                      <th>
                        <div align="center">
                          <span class="fa fa-cog"></span>
                        </div>
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @defeitos.each do |defeito| %>
                      <tr>
                        <td><%= defeito.descricao %></td>
                        <td align="center">
                            <div class="form-inline">
                             <%= link_to defeito, method: :delete, class:"btn btn-danger btn-sm" do %>
                                <span class="fa fa-trash"></span>
                              <% end %>
                            </div>
                          
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              
            </div>
             
             
          </div>
          <div class="<%= if (params[:tab] == 'observacoes' || !params[:tab])then 'tab-pane fade in active'  else 'tab-pane fade' end%>" id="observacoes">
             
             <div class="card card-default">
              <div class="card-header bordered">
                <div class="header-block">
                  <h3 class="title">Observações</h3>
                </div>
                <div class="header-block pull-right">
                  <%= link_to new_observacao_path(:release_id => @release_note.id), class:"btn btn-primary btn-sm active" do %>
                    <span class="fa fa-plus"></span> Novo
                  <% end %>
                </div>
              </div>
              <div class="card-block table-responsive">
                <table class="table table-striped table-bordered table-list">
                  <thead>
                    <tr>
                      <th>Descrição</th>
                      <th>
                        <div align="center">
                          <span class="fa fa-cog"></span>
                        </div>
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @observacoes.each do |observacao| %>
                      <tr>
                        <td><%= observacao.descricao %></td>
                        <td align="center">
                            <div class="form-inline">
                             <%= link_to observacao, method: :delete, class:"btn btn-danger btn-sm" do %>
                                <span class="fa fa-trash"></span>
                              <% end %>
                            </div>
                          
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              
            </div>
             
          </div>
          <% end %>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col">
            <%= f.submit "Salvar", class:"btn btn-primary" %>
            <%= link_to 'Voltar', release_notes_path, class:"btn btn-info" %>
            <% if @release_note.new_record? == false %>
              <%= link_to 'Deletar', @release_note, method: :delete, data: { confirm: 'Tem Certeza?' }, class:"btn btn-danger active" %>
            <% end %>
          </div>
          
        </div>
      </div>
  </div>

<% end %>
