<% provide(:template, "admin" ) %>

<%= form_for(@tipo_integracao) do |f| %>

<div class="card card-default">
  <div class="card-header bordered">
    <div class="header-block">
      <h3 class="title">Tipo de Integração</h3>
    </div>
  </div>
  <div class="card-block">
    <div class="conteiner">
      <div class="form-group">
        <%= f.label :nome %><br>
        <%= f.text_field :nome, class:"form-control" %>
      </div>
    </div>
    
</div>



  <div class="card-footer">
    <div class="row">
      <div class="col">
        <%= f.submit texto_da_acao, class:"btn btn-primary" %>
        <%= link_to 'Voltar', tipo_integracoes_path, class:"btn btn-info active" %>
        <% if @tipo_integracao.new_record? == false %>
          <%= link_to 'Deletar', @tipo_integracao, method: :delete, data: { confirm: 'Tem Certeza?' }, class:"btn btn-danger active" %>
        <% end %>
        <!--%= button_tag(type: 'submit', class: "btn btn-primary") do %>
         <i class="glyphicon glyphicon-ok"></i> Criar
        < end %-->
      </div>
      
    </div>
  </div>
</div>
   
<% end %>
