
  <div class="container-fluid " id="home">
    <div class="row">
      <div id="carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <%= image_tag("banner1.jpg", alt:"Moda",  class:"fullscreem") %>
          </div>
          <div class="item">
            <%= image_tag("banner2.jpg", alt:"Moda Infantil",  class:"fullscreem") %>
          </div>
        </div>
        <a href="#carousel"  data-slide="prev" class="left carousel-control" >
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a href="#carousel" data-slide="next" class="right carousel-control" >
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <div class="text-center">
        <h3>Categorias</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item"><a href="#">Camiseta Masculina</a></li>
        <li class="list-group-item"><a href="#">Camiseta Feminina</a></li>
        <li class="list-group-item"><a href="#">Camiseta Infantil</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-9" >

      <div id="novidades">
        <h3 class="text-center">Novidades</h3>
      </div>

      <div class="col-xs-12 col-md-4 thumbnail text-center wow fadeInUp" data-wow-delay="1s">
        <figure>
          <%= image_tag("camisa-azul.png", alt:"Camisa Azul Importada") %>
          <div>
            <h4>Camisa azul importada</h4>
            <p>preço acessível e de qualidade</p>
          </div>
        </figure>
        <div class="btn-group">
          <a href="#" class="btn btn-default">R$ 190,00</a>
          <a href="#" class="btn btn-primary">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Comprar
          </a>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 thumbnail text-center wow fadeInUp" data-wow-delay="1s">
        <figure>
          <%= image_tag("camisa-rosa.png",  alt:"Camisa Rosa Importada") %>
          <div>
            <h4>Camisa Rosa importada</h4>
            <p>preço acessível e de qualidade</p>
          </div>
        </figure>
        <div class="btn-group">
          <a href="#" class="btn btn-default">R$ 190,00</a>
          <a href="#" class="btn btn-primary">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Comprar
          </a>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 thumbnail text-center wow fadeInUp" data-wow-delay="1s">
        <figure>
          <%= image_tag("camisa-azul.png", alt:"Camisa Azul Importada") %>
          <div>
            <h4>Camisa azul importada</h4>
            <p>preço acessível e de qualidade</p>
          </div>
        </figure>
        <div class="btn-group">
          <a href="#" class="btn btn-default">R$ 190,00</a>
          <a href="#" class="btn btn-primary">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Comprar
          </a>
        </div>
      </div>

      <div id="maisVendidos">
        <h3 class="text-center">Mais Vendidos</h3>
      </div>

      <div class="col-xs-12 col-md-4 thumbnail text-center wow fadeInUp" data-wow-delay="1s">
        <figure>
          <%= image_tag("camisa-azul.png", alt:"Camisa Azul Importada") %>
          <div>
            <h4>Camisa azul importada</h4>
            <p>preço acessível e de qualidade</p>
          </div>
        </figure>
        <div class="btn-group">
          <a href="#" class="btn btn-default">R$ 190,00</a>
          <a href="#" class="btn btn-primary">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Comprar
          </a>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 thumbnail text-center wow fadeInUp" data-wow-delay="1s">
        <figure>
          <%= image_tag("camisa-rosa.png", alt:"Camisa Azul Importada") %>
          <div>
            <h4>Camisa Rosa importada</h4>
            <p>preço acessível e de qualidade</p>
          </div>
        </figure>
        <div class="btn-group">
          <a href="#" class="btn btn-default">R$ 190,00</a>
          <a href="#" class="btn btn-primary">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Comprar
          </a>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 thumbnail text-center wow fadeInUp" data-wow-delay="1s">
        <figure>
          <%= image_tag("camisa-azul.png", alt:"Camisa Azul Importada") %>
          <div>
            <h4>Camisa azul importada</h4>
            <p>preço acessível e de qualidade</p>
          </div>
        </figure>
        <div class="btn-group">
          <a href="#" class="btn btn-default">R$ 190,00</a>
          <a href="#" class="btn btn-primary">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Comprar
          </a>
        </div>
      </div>
    </div>
  </div>
      
