

<div class="auth">
            <div class="auth-container">
                <div class="card">
                    <header class="auth-header">
                        <h1 class="auth-title">
        <div class="logo">
        	<span class="l l1"></span>
        	<span class="l l2"></span>
        	<span class="l l3"></span>
        	<span class="l l4"></span>
        	<span class="l l5"></span>
        </div>        Release Notes
      </h1> </header>
                    <div class="auth-content">
                        <p class="text-xs-center">CADASTRE-SE</p>
                        <% flash.each do |message_type, message| %>
                            <div class="alert alert-<%= message_type %>"><%= message %></div>
                        <% end %>
                        <%= form_for(:session, url: signup_path) do |f| %>
                            <div class="form-group"> 
                                <label for="firstname">Nome</label>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <%= f.text_field :nome, class:"form-control underlined", placeholder:"Nome Completo" %>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label> 
                                <%= f.text_field :email, class:"form-control underlined", placeholder:"Endereço de E-mail" %>
                            </div>
                            <div class="form-group">
                                <label for="password">Senha</label>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <%= f.password_field :password, class:"form-control underlined", placeholder:"Digite Senha" %>
                                    </div>
                                    <div class="col-sm-6">
                                        <%= f.password_field :password_confirmation, class:"form-control underlined", placeholder:"Re-digite senha" %>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group"> 
                                
                                <label for="aceita_termo">
                                    <%= f.check_box :aceita_termo %>
                                    <span>Aceito os termos de acesso</span>
                                </label>
                             </div>
                            <div class="form-group"> <button type="submit" class="btn btn-block btn-primary">Cadastrar</button> </div>
                            <div class="form-group">
                                <p class="text-muted text-xs-center">Já tem um cadastro? <%= link_to "Login", login_path %></p>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>