<p id="notice"><%= notice %></p>

<h1>Listing Defeitos</h1>

<table>
  <thead>
    <tr>
      <th>Release note</th>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @defeitos.each do |defeito| %>
      <tr>
        <td><%= defeito.release_note %></td>
        <td><%= defeito.descricao %></td>
        <td><%= link_to 'Show', defeito %></td>
        <td><%= link_to 'Edit', edit_defeito_path(defeito) %></td>
        <td><%= link_to 'Destroy', defeito, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Defeito', new_defeito_path %>
