<p id="notice"><%= notice %></p>

<p>
  <strong>Release note:</strong>
  <%= @defeito.release_note %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @defeito.descricao %>
</p>

<%= link_to 'Edit', edit_defeito_path(@defeito) %> |
<%= link_to 'Back', defeitos_path %>
