<%= form_for(@caracteristica) do |f| %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Caracteristica</h3>
  </div>
  <div class="panel-body">
    <div class="conteiner">
      <div class="form-group">
        <%= f.label :nome %><br>
        <%= f.text_field :nome, class:"form-control" %>
      </div>
    </div>
  </div>
</div>
  <div class="actions">
    <%= f.submit texto_da_acao, class:"btn btn-primary" %>
    <%= link_to 'Voltar', caracteristicas_path, class:"btn btn-info active" %>
    <%= link_to 'Visualizar', @caracteristica, class:"btn btn-success active" %>
    <%= link_to 'Deletar', @caracteristica, method: :delete, data: { confirm: 'Tem Certeza?' }, class:"btn btn-danger active" %>
    <!--%= button_tag(type: 'submit', class: "btn btn-primary") do %>
     <i class="glyphicon glyphicon-ok"></i> Criar
    < end %-->
  </div>
<% end %>
