<p id="notice"><%= notice %></p>

<div class="panel panel-default panel-table">
              <div class="panel-heading">
                <div class="row">
                  <div class="col col-xs-6">
                    <h3 class="panel-title">Caracteristica</h3>
                  </div>
                  <div class="col col-xs-6 text-right">
                    
                    <%= link_to new_caracteristica_path, class:"btn btn-primary btn-sm active" do %>
                      <span class="glyphicon glyphicon-plus"></span> Novo
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="panel-body table-responsive">

<p>
  <strong>Nome:</strong>
  <%= @caracteristica.nome %>
</p>

</div>
              <div class="panel-footer">
                <div class="row">
                  <div class="col col-xs-4">
                    <%= link_to 'Editar', edit_caracteristica_path(@caracteristica), class:"btn btn-warning active" %>
                    <%= link_to 'Voltar', caracteristicas_path, class:"btn btn-info active" %>
                  </div>
                  
                </div>
              </div>

